body {

    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.box {
    width: 100px;
    height: 100px;
    position: relative;
    animation: spin 2s linear infinite;

}

.box::before,
.box::after {
    content: '';
    position: absolute;
    top: 0;
    left: 35px;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background: #3498db;
    animation: bounce 2s infinite ease-in-out;
}

.box::after {
    left: -35px;
    background: #e74c3c;
}

@keyframes spin {
    /* 0% {
        transform: rotate(0);
        background: #3498db
    }

    50% {
        background: #e74c3c;
    } */

    100% {
        transform: rotate(360deg);
        /* background: #3498db */
    }
}

@keyframes bounce {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-30px);
    }
}
