* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

s body {
    font-family: 'Poppins', sans-serif;
}

h2,
p {
    margin: 0px;
}

.box {
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border: 2px solid black;

    /* Explained */
    /* border-width: 2px;
    border-style: dashed;
    border-color: red; */
}

.box-1 {
    /* border-color: blue;
    border-width: 3px; */
    border: none;
    border-top: solid blue 4px;
    border-bottom: solid red 4px;
}

.box-2 {
    border-radius: 10px;
    /* border-radius: 50%; */

}

.box-3 {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
