body {
    font-family: 'Poppins', sans-serif;
}

.flex-container {
    background: lightgray;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;
    /* row-gap: 10px;
    column-gap: 10px; */
}

.flex-item {
    width: 200px;
    height: 200px;
    border: 1px solid black;
    background: coral;

}
