* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Montserrat', sans-serif;
    line-height: 1.6;
    font-weight: 600;
    background-color: #27264b;
    color: #433f63;
}

a {
    text-decoration: none;
    color: #007bff;
}

ul {
    list-style: none;
}

li {
    margin-bottom: 10px;
}

.container {
    background-color: #f8fafe;
    max-width: 1100px;
    border-radius: 10px;
    margin: 0 auto;
    margin-top: 50px;
    padding: 70px 60px;
}

.pricing {
    display: flex;
    justify-content: space-around;
    gap: 30px;
    flex-wrap: wrap;
}

.card {
    flex: 1;
    background-color: white;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-bottom: 20px;
}

.card h2 {
    font-size: 18px;
    text-transform: uppercase;
    margin-bottom: 10px;
    padding: 15px;
    color: #333;
    background-color: #f8fafe;
}

.card-pro h2 {
    background: #6251cf;
    background: linear-gradient(90deg, rgba(98, 81, 207, 1) 30%, rgba(98, 81, 207, 1) 56%, rgba(237, 83, 211, 1) 100%);
    color: #fff;
}

.card-enterprise h2 {
    background: #d43e24;
    background: linear-gradient(90deg, rgba(212, 62, 36, 1) 15%, rgba(245, 176, 142, 1) 66%);
    color: #fff;
}

.card .price {
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.card .price sup {
    font-size: 18px;
    position: relative;
    left: -5px;
}

.card .price span {
    font-size: 18px;
    margin-left: 5px;
}

.card .main-text {
    font-size: 14px;
    margin-bottom: 50px;
}

.btn {
    display: block;
    background-color: white;
    color: #27264b;
    border: 1px solid #27264b;
    border-radius: 5px;
    padding: 15px;
    width: 100%;
    cursor: pointer;
    font-size: 16px;
}

.btn-primary,
.btn:hover {
    background-color: #27264b;
    color: #fff;
}

.btn-primary:hover {
    background-color: #fff;
    color: #27264b;
}

.card ul {
    text-align: left;
    margin-top: 50px;
}

.card ul li i {
    color: #98ca9e;
    margin-right: 10px;
}
