* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

s body {
    font-family: 'Poppins', sans-serif;
}

h2,
p {
    margin: 0px;
}

.box {
    background-color: coral;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
}
