body {
    font-family: Arial, sans-serif;

    background-color: #fff;
    /* RGB */
    /* background: rgb(0, 100, 0); */
    /* RGBA */
    /* background: rgba(0, 100, 0, 0.5); */

}

.sporty {
    color: red;
}

.casual {
    color: #e04553;
}

.card {
    background-color: rgba(0, 0, 0, 0.5);

    /* HSL */
    background-color: hsl(0, 100%, 50%);

    /* HSLA */
    background-color: hsla(0, 100%, 50%, 0.2);
}

.card-2 {
    background: #000;
    color: #fff;
    opacity: 0.5;
     
}
