body {

    font-family: 'Poppins', sans-serif;
}


.container {
    max-width: 1200px;
    margin: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

}

.loader {
    width: 80px;
    height: 80px;
    /* position: relative; */
    /* animation: spin 2s linear infinite; */
}

/*
@keyframes spin {
    0% {
        transform: rotate(0);
    }

    100% {
        transform: 360deg;
    }
} */
